button{
  background-color: $ballblue;
  padding: .4rem 2rem;
}
.button1{
  padding-bottom: 3rem;
  text-align: center;
  padding-top: 6rem;
}
.button2{
  padding-bottom: 3rem;
  text-align: center;
}
